<!-- Modal -->
<div class="modal" role="dialog" #modal style="display: block; background-color: rgba(0, 0, 0, 0.3)">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 0">
            <div class="modal-body">
                <div>
                    <form class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="" [formGroup]="updateForm">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 control-label col-sm-offset-1" style="text-align: center; font-size: 25px; margin-left: 0;">Bổ sung ngày phép</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="text-align: right; margin-right: 15px;">
                                    Ngày phép</label>
                                <div class="col-sm-3">
                                    <input class="form-control col-sm-3" type="number" name="project-manager-search" formControlName="time">
                                    <span class="help-block text-danger" *ngIf="updateForm.get('time').hasError('required') && updateForm.get('time').touched">Thời gian không được bỏ trống.</span>

                                </div>
                                <label class="col-sm-2 control-label" style="text-align: right; margin-right: 15px;">
                                    Loại</label>
                                <div class="col-sm-3">
                                    <select [(ngModel)]="manualType" class="form-control" id="select3" formControlName="manual_type">
                                        <option *ngFor="let t of manualTypes" [ngValue]="t">{{t.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="text-align: right; margin-right: 15px;">
                                    Tháng</label>
                                <div class="col-sm-3">
                                    <select [(ngModel)]="month" class="form-control" id="select3" formControlName="month">
                                        <option *ngFor="let m of months" [ngValue]="m">{{m.name}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label" style="text-align: right; margin-right: 15px;">
                                    Năm</label>
                                <div class="col-sm-3">
                                    <select [(ngModel)]="year" class="form-control" id="select3" formControlName="year">
                                        <option *ngFor="let y of years" [ngValue]="y">{{y.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="text-align: right; margin-right: 15px;">
                                    Lý do</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control col-sm-3" type="number" name="project-manager-search" formControlName="reason" rows="2"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12 control-label" style="text-align: center; padding-top: 0!important">
                                    <button class="btn btn-info btn-fill btn-wd" style="min-width: 200px" (click)="submit()" [disabled]="updateForm.invalid">Bổ sung</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="table-responsive" style="max-height: 200px; overflow-y: auto">
                                        <table class="table table-striped table-project-manager">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Loại</th>
                                                    <th>Ngày phép</th>
                                                    <th>Ngày OT</th>
                                                    <th>Tháng</th>
                                                    <th>Lý do</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let added of currentSelected.time_on_addition_day_offs; let i = index" [ngClass]="{'tr-project-manager-selected': added.type === 2, 'tr-accumulated-timeon': added.type === 3, 'tr-accumulated-ot': added.type === 4}"
                                                    style="display: table-row;">
                                                    <td>
                                                        {{i + 1}}
                                                    </td>
                                                    <td>
                                                        <span *ngIf="added.type === 1">Hàng tháng</span>
                                                        <span *ngIf="added.type === 2">Bổ sung</span>
                                                        <span *ngIf="added.type === 3">Chấm công</span>
                                                        <span *ngIf="added.type === 4">Làm ngoài giờ</span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{added.manual_type === 1 ? added.time : '0'}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            {{added.manual_type === 2 ? added.time : '0'}}
                                                        </span>
                                                    </td>
                                                    <td rel="tooltip">
                                                        {{added.month}} - {{added.year}}
                                                    </td>
                                                    <td rel="tooltip">
                                                        {{added.reason}}
                                                    </td>
                                                    <td>
                                                        <a *ngIf="added.type === 2" (click)="deleteAddition(added)" rel="tooltip" title="Xóa" class="btn btn-success btn-simple btn-xs">
                                                            <i class="fa fa-remove" style="font-size: 15px"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>