<div class="col-md-12">
    <div class="card">

        <div class="card-content">
            <form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-8 control-label col-sm-offset-1" style="text-align: left; font-size: 25px">Sửa
                            vai trò </label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <label>
                                <span style="color:red;widht:5px;">*</span>Tên vai trò</label>
                        </div>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" [(ngModel)]="role.name" name="name">

                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <label style="margin-left:5px">Mô tả</label>
                        </div>

                    </div>

                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-7 control-label col-sm-offset-1" style="text-align: left;">
                            <textarea class="form-control" placeholder="Mô tả chi tiết vai trò để thêm mới"
                                      maxlength="191" rows="3" [(ngModel)]="role.description"
                                      name="description"></textarea>

                        </div>


                    </div>

                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-3 control-label col-sm-offset-1" style="text-align: left;">
                            <span style="color:red">{{errorMsg}}</span>

                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-offset-1" style="margin-bottom: 20px">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2">
                                    <button class="btn btn-info btn-fill btn-block" (click)="saveUpdate()">Lưu thay
                                        đổi
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2">
                                    <button class="btn btn-info btn-fill btn-block" (click)="onQuit()">Bỏ qua</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>
