<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Đổi mật khẩu</h4>

        </div>
        <div class="card-content" style="padding-left: 0; padding-right: 0">
            <form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="" [formGroup]="changePasswordForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-md-offset-1" style="text-align: left;">
                        <span class="required-validate">*</span> Mật khẩu cũ</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" formControlName="old_password">
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('old_password').hasError('required') && changePasswordForm.get('old_password').touched">Mật khẩu cũ không được bỏ trống.</span>
                        <div *ngIf="changePasswordForm.get('old_password').hasError('server')">
                            <span class="help-block text-danger" *ngFor="let err of changePasswordForm.get('old_password').getError('server')">{{err}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-md-offset-1" style="text-align: left;">
                        <span class="required-validate">*</span> Mật khẩu mới</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" formControlName="new_password">
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched">Mật khẩu mới không được bỏ trống.</span>
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('new_password').hasError('isValidPassword') && changePasswordForm.get('new_password').touched">Mật khẩu ít nhất 8 chữ và có 1 chữ thường, 1 chữ hoa, 1 số.</span>
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('new_password').hasError('manualy') && changePasswordForm.get('new_password').touched">Mật khẩu mới không được trùng mật khẩu cũ.</span>
                        <div *ngIf="changePasswordForm.get('new_password').hasError('server')">
                            <span class="help-block text-danger" *ngFor="let err of changePasswordForm.get('new_password').getError('server')">{{err}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-md-offset-1" style="text-align: left;">
                        <span class="required-validate">*</span> Nhập lại mật khẩu</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" formControlName="re_new_password">
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('re_new_password').hasError('required') && changePasswordForm.get('re_new_password').touched">Nhập lại mật khẩu mới.</span>
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('re_new_password').hasError('isValidPassword') && changePasswordForm.get('re_new_password').touched">Mật khẩu ít nhất 8 chữ và có 1 chữ thường, 1 chữ hoa, 1 số.</span>
                        <span class="help-block text-danger" *ngIf="changePasswordForm.get('re_new_password').hasError('manualy') && changePasswordForm.get('re_new_password').touched">Nhập lại mật khẩu không chính xác.</span>
                        <div *ngIf="changePasswordForm.get('re_new_password').hasError('server')">
                            <span class="help-block text-danger" *ngFor="let err of changePasswordForm.get('re_new_password').getError('server')">{{err}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="padding: 20px">
            <div class="col-sm-2" style="padding: 0">
                <button class="btn btn-info btn-fill btn-wd" style="min-width: 200px" (click)="submit()" [disabled]="changePasswordForm.invalid">Cập nhật</button>
            </div>
        </div>
    </div>
</div>