<div class="col-md-12">
    <div class="card">

        <div class="card-content">
            <form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left; font-size: 25px">Sửa dữ liệu chấm công</label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Tên nhân viên</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="Đào Minh Phượng">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>

                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Thời gian checkin</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="11/11/2016 08:30">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Mã nhân viên</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="123">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Thời gian checkout</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="11/11/2016 08:30">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Ngày làm việc</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="24/11/2016">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div class="checkbox checkbox-inline col-sm-2 col-sm-offset-1" style="padding-left: 36px">
                            <input id="checkbox50" type="checkbox">
                            <label for="checkbox50 control-label ">
                                Nghỉ phép
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="select1">
                                <option>Chính thức</option>
                                <option>Thực tập</option>
                                <option>Partime</option>
                                <option>Cộng tác viên</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Ngày công</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" value="24/11/2016">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div class="checkbox checkbox-inline col-sm-2 col-sm-offset-1" style="padding-left: 36px">
                            <input id="checkbox50" type="checkbox">
                            <label for="checkbox50 control-label ">
                                Duyệt
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="select1">
                                <option>Đã duyệt</option>
                                <option>Thực tập</option>
                                <option>Partime</option>
                                <option>Cộng tác viên</option>
                            </select>
                        </div>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-offset-1">
                            <button class="btn btn-info btn-fill btn-wd" style="min-width: 200px">Lưu</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>