<div class="col-xs-12" id="setting-page" *ngIf="this.timeConfig !== undefined">
    <div class="card">
        <div class="card-header row col-xs-10 ">
            <h3 class="card-title text-left col-xs-12 col-sm-12 col-md-4 col-lg-5">Cài đặt</h3>

        </div>
        <div class="row margin-bottom-30px">
            <form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate=""
                  [formGroup]="formSettingTime">
                <div>
                    <fieldset class="col-xs-10 text-left margin-top-15">
                        <h5 class="padding-left-15px"> Thời gian hành chính</h5>
                        <!--<hr class="col-xs-12 margin-left-15px margin-top-0px">-->
                    </fieldset>
                    <fieldset class="col-xs-10  margin-bottom-30px padding-right-15px">
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Bắt đầu sáng</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 ">
                                <input class="form-control input-time " type="text"
                                       formControlName="start_time_office_house"
                                       placeholder="{{numDate | date :'HH:mm'}} " id="start-time-office-house">
                                {{initTimeInput('start-time-office-house')}}
                            </div>

                        </fieldset>

                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label style="padding: 7px 18px ;font-weight: normal">Giờ nghỉ trưa</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                <input class="form-control input-time " type="text"
                                       formControlName="start_time_lunch_break"
                                       placeholder="{{numDate | date :'HH:mm'}} " id="start-time-lunch-break">
                                {{initTimeInput('start-time-lunch-break')}}
                            </div>

                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Kết thúc nghỉ trưa</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 ">
                                <input class="form-control input-time" type="text"
                                       formControlName="end_time_lunch_break"
                                       placeholder="{{numDate | date :'HH:mm'}}" id="end-time-lunch-break">
                                {{initTimeInput('end-time-lunch-break')}}
                            </div>

                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Kết thúc chiều</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                <input class="form-control input-time " type="text"
                                       formControlName="end_time_office_house"
                                       placeholder="{{numDate | date :'HH:mm'}} " id="end-time-office-house">
                                {{initTimeInput('end-time-office-house')}}
                            </div>

                        </fieldset>

                    </fieldset>
                </div>
                <div>
                    <fieldset class="col-xs-10 text-left">

                        <h5 class="padding-left-15px">Thời gian khác</h5>
                        <!--<hr class="col-xs-12 margin-left-15px margin-top-0px">-->
                    </fieldset>
                    <fieldset class="col-xs-10 padding-right-15px">
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Lượng thời gian vắng mặt không phải xin phép</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-6 col-sm-4 col-md-5 col-lg-3 ">
                                <input class="form-control input-time " type="number"
                                       min="0" step="5"
                                       formControlName="in_late_threshold" id="in-late-threshold">
                                <span class="help-block text-danger"
                                      *ngIf="formSettingTime.get('in_late_threshold').hasError('required') && formSettingTime.get('in_late_threshold').touched">Dữ liệu trống!</span>

                            </div>
                            <label class="label-input-setting-right">phút</label>

                        </fieldset>
                    </fieldset>

                    <fieldset class="col-xs-10  padding-right-15px">
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Khoảng thời gian gửi đơn xin phép trước/sau khi vắng
                                mặt</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-6 col-sm-4 col-md-5 col-lg-3 ">
                                <input class="form-control input-time " type="number"
                                       min="2" step="2" max="25"
                                       maxlength="2"
                                       formControlName="time_off_registration_threshold"
                                       id="time-off-registration-threshold">
                                <span class="help-block text-danger"
                                      *ngIf="formSettingTime.get('time_off_registration_threshold').hasError('required') && formSettingTime.get('time_off_registration_threshold').touched">Dữ liệu trống!</span>

                            </div>
                            <label class="label-input-setting-right">ngày</label>

                        </fieldset>
                    </fieldset>
                    <fieldset class="col-xs-10  margin-bottom-30px  padding-right-15px">
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Ngày xóa nghỉ nghép năm cũ</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <fieldset style="margin-top: 5px"></fieldset>
                            <span for="month" class="padding-left-15px">Ngày</span>
                            <select name="month" id="option-date-remove" class="w-60px">
                                <option *ngFor="let date of ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18',
                                '19','20','21','22','23','24','25','26','27','28','29','30','31']"
                                        [selected]="date === dateRemove.split('-')[0]"
                                        value="{{date}}">{{date}}
                                </option>
                            </select>
                            <span for="year" class="padding-left-15px">Tháng</span>
                            <select name="year" id="option-month-remove" class="w-60px">
                                <option *ngFor="let month  of ['01','02','03','04','05','06','07','08','09','10','11','12']"
                                        [selected]=" month === dateRemove.split('-')[1]"
                                        value="month">{{month}}
                                </option>
                            </select>
                            <span for="year" class="padding-left-15px">hàng năm</span>
                        </fieldset>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="col-xs-10 text-left">

                        <h5 class="padding-left-15px">Email</h5>
                        <!--<hr class="col-xs-12 margin-left-15px margin-top-0px">-->
                    </fieldset>
                    <fieldset class="col-xs-10  padding-right-15px">

                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Email BGĐ</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-md-10 col-lg-8 ">
                                <input class="form-control input-time " type="email"
                                       placeholder="ex: omi_boom@ominext.com"
                                       formControlName="bom_mail" id="bom-mail">
                                <span class="help-block text-danger"
                                      *ngIf="formSettingTime.get('bom_mail').hasError('required') && formSettingTime.get('bom_mail').touched">Email không được bỏ trống.</span>
                                <span class="help-block text-danger"
                                      *ngIf="!formSettingTime.get('bom_mail').hasError('required') &&formSettingTime.get('bom_mail').hasError('email') && formSettingTime.get('bom_mail').touched">Email không đúng định dạng.</span>

                            </div>
                        </fieldset>
                    </fieldset>
                    <fieldset class="col-xs-10   padding-right-15px">
                        <fieldset class="col-xs-12 col-sm-6  text-right ">
                            <fieldset class="margin-top-15"></fieldset>
                            <label class="label-input-setting-left">Email hành chính nhân sự</label>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6 border-left ">
                            <fieldset class="margin-top-15"></fieldset>
                            <div class="col-xs-12 col-md-10 col-lg-8 ">
                                <input class="form-control input-time " type="email"
                                       placeholder="ex: hr@ominext.com"
                                       formControlName="hr_and_administration_mail" id="hr-and-administration-mail">
                                <span class="help-block text-danger"
                                      *ngIf="formSettingTime.get('hr_and_administration_mail').hasError('required') && formSettingTime.get('hr_and_administration_mail').touched">Email không được bỏ trống.</span>
                                <span class="help-block text-danger"
                                      *ngIf="!formSettingTime.get('hr_and_administration_mail').hasError('required') &&formSettingTime.get('hr_and_administration_mail').hasError('email') && formSettingTime.get('hr_and_administration_mail').touched">Email không đúng định dạng.</span>

                            </div>
                        </fieldset>
                    </fieldset>


                </div>
            </form>
        </div>
        <fieldset>
            <div class="card-header row col-xs-10 margin-bottom-30px ">
                <h3 class="card-title text-left col-xs-12 col-sm-12 col-md-4 col-lg-5"></h3>
                <div>
                    <button class="btn margin-5px col-xs-11 col-sm-5 col-md-2  col-lg-1 btn-default  btn-fill padding-0px"
                            type="button" (click)="resetTimeConfig()" disabled>
                        Mặc định
                    </button>
                    <button class="margin-left-15px btn margin-5px col-xs-11 col-sm-5 col-md-2 col-lg-1 btn-success btn-fill padding-0px "
                            (click)="updateSettingconfig() " [disabled]="formSettingTime.invalid"
                            type="button">
                        Lưu cài đặt
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

