<footer class="footer">
    <div class="container-fluid">
        <!--<nav class="pull-left">-->
        <!--<ul>-->

        <!--<li>-->
        <!--<a href="http://ominext.com">-->
        <!--Ominext.com-->
        <!--</a>-->

        <!--</li>-->
        <!--<li>-->
        <!--<a href="http://internal.ominext.co">-->
        <!--Internal.ominext.co-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</nav>-->
        <a class="copyright pull-left cusor-point text-danger " href="https://goo.gl/forms/MmQe4iuZno4T4BmN2"
           target="_blank" style="font-size: 12px;margin: 7px 3px;">
            <i class="ti-email"></i> Gửi phản hồi </a>
        <style>
            .copyright.pull-left.cusor-point.text-danger:hover {
                color: gray;
                text-decoration: underline;
            }
            .copyright.pull-left.cusor-point.text-danger {
                color: #DD0330;

            }
        </style>
        <div class="copyright pull-right" style="font-size: 12px;margin: 7px 3px;">
            Copyrights © 2012-{{test | date: 'yyyy'}} Ominext Joint Stock Company. All rights reserved.
        </div>
    </div>
</footer>

