<div class="col-md-12">
    <div class="card">

        <div class="card-content">
            <form action="/" class="form-horizontal ng-untouched ng-pristine ng-valid" method="get" novalidate="">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left; font-size: 25px">Tìm kiếm</label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Tên nhân viên</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keyup.enter)="search()">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                            <i class="fa fa-user"></i> Mã Nhân viên</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" (keyup.enter)="search()">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">

                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                </fieldset>

                <!-- BUTTON TÌM KIẾM NÂNG CAO  -->
                <fieldset>
                    <div class="form-group">
                        <span class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;border:none;color:rgb(0, 126, 199); background:#fff;font-size: 15px"
                            (click)="toggle()" id="bt-show-advanced">Tìm kiếm nâng cao
                            <i class="fa" [ngClass]="{'fa-chevron-up': advanced_search === 'true', 'fa-chevron-down': advanced_search !== 'true'}"></i>
                        </span>
                    </div>
                </fieldset>
                <div class="slide">
                    <fieldset>
                        <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                                        Trạng thái công việc</label>
                            <div class="col-sm-2">
                                <select [(ngModel)]="job_status" class="form-control" id="select1" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let job of listJobStatus" [ngValue]="job">{{job.name}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                                    Tình trạng làm việc</label>
                            <div class="col-sm-2">
                                <select [(ngModel)]="working_status" class="form-control" id="select2" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let working of listWorkingStatus" [ngValue]="working">{{working.name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                                        Chức danh</label>
                            <div class="col-sm-2">
                                <select [(ngModel)]="position" class="form-control" id="select4" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let pos of listPositions" [ngValue]="pos">{{pos.name}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left;">
                                    Phòng ban</label>
                            <div class="col-sm-2">
                                <select [(ngModel)]="department" class="form-control" id="select3" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let de of listDepartments" [ngValue]="de">{{de.name}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-sm-offset-1" style="text-align: left">Số lượng hiển thị</label>
                            <div class="col-sm-2">
                                <select [(ngModel)]="limit" class="form-control" id="select5" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let l of listLimit" [ngValue]="l">{{l}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-offset-1">
                            <button class="btn btn-info btn-fill btn-wd" style="min-width: 200px" (click)="search()">Tìm kiếm</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12" style="margin-bottom: 20px">
    <fieldset>
        <div class="pull-right" style="padding: 0">
            <button class="btn btn-info btn-fill btn-wd" style="min-width: 200px" (click)="goToPersonnelCreate()" [disabled]="!isAlowAdd">Thêm nhân sự</button>
        </div>
    </fieldset>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách</h4>

        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!---->
                        <th style="width: 60px; text-align: center; white-space: nowrap;">STT</th>
                        <th style="width: 130px; text-align: left; white-space: nowrap;">Mã</th>
                        <th style="min-width: 300px; text-align: left; white-space: nowrap;">Tên nhân viên</th>
                        <th style="width: 150px; text-align: left; white-space: nowrap;">Phòng ban</th>
                        <th style="width: 140px; text-align: left; white-space: nowrap;">Chức danh</th>
                        <th style="width: 200px; text-align: left; white-space: nowrap;">Trạng thái công việc</th>
                        <th style="width: 80px; text-align: left; white-space: nowrap;">Xem</th>
                        <th style="width: 80px; text-align: left; white-space: nowrap;">Sửa</th>
                        <!-- <th style="width: 80px; text-align: left; white-space: nowrap;">Xóa</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td style="text-align: center">{{(pagination.current_page - 1) * pagination.per_page + i + 1}}</td>
                        <td>{{employee.employee_code}}</td>
                        <td style="white-space: nowrap;">{{employee.full_name}}</td>
                        <td style="white-space: nowrap;" rel="tooltip" title="{{employee.department !== null ? employee.department.name : ''}}" data-container="body">{{employee.department !== null ? employee.department.code : ''}}</td>
                        <td style="white-space: nowrap;" rel="tooltip" title="{{employee.position !== null ? employee.position.name : ''}}" data-container="body">{{employee.position !== null ? employee.position.code : ''}}</td>
                        <td style="white-space: nowrap;">{{employee.job_status !== null ? employee.job_status.name : ''}}</td>
                        <td>
                            <a [routerLink]="['../thong-tin-nhan-su/', employee.id]" rel="tooltip" title="Xem" class="btn btn-info btn-simple btn-xs"
                                *ngIf="isAlowViewInfo">
                                <i class="fa fa-eye" style="font-size: 15px"></i>
                            </a>
                            <a rel="tooltip" title="Không thể xem" class="btn btn-info btn-simple btn-xs" *ngIf="!isAlowViewInfo">
                                <i class="fa fa-eye" style="font-size: 15px;color: gray"></i>
                            </a>
                        </td>
                        <td>

                            <a [routerLink]="['../sua-thong-tin-nhan-su/', employee.id]" rel="tooltip" title="Sửa" class="btn btn-success btn-simple btn-xs"
                                *ngIf="isAlowUpdate">
                                <i class="fa fa-pencil" style="font-size: 15px"></i>
                            </a>
                            <a rel="tooltip" title="Không được phép sửa" class="btn btn-success btn-simple btn-xs" *ngIf="!isAlowUpdate">
                                <i class="fa fa-pencil" style="font-size: 15px;color: gray"></i>
                            </a>
                        </td>
                        <!-- <td>
                            <a rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" (click)="deletePersonnel(employee)" *ngIf="isAdmin">
                                <i class="fa fa-trash" style="font-size: 15px"></i>
                            </a>
                            <a rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs" *ngIf="!isAdmin">
                                <i class="fa fa-trash" style="font-size: 15px;color: gray"></i>
                            </a>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <div class="row" style="padding: 20px">
                <div class="col-md-12" style="margin-bottom: 20px">
                    <div style="padding-left:10px;font-size: 15px">
                        <div class="form-group">
                            <div style="float:left;margin-left:10px">
                                <label style="margin-left:10">Hiển thị {{pagination.per_page}} trên {{pagination.total}} mục</label>
                            </div>
                            <button class="pagination-page" (click)="gotoFirstPage()" id="bt-show-advanced" [disabled]="pagination.current_page === 0 || pagination.current_page === 1"
                                [ngClass]="pagination.current_page === 0 || pagination.current_page === 1 ? 'pagination-page-disable' : ''">
                                <span class="ti-angle-double-left"></span>Đầu tiên
                            </button>
                            <button class="pagination-page" (click)="gotoPrevPage()" id="bt-show-advanced" [ngClass]="pagination.current_page === 0 || pagination.current_page === 1 ? 'pagination-page-disable' : ''">
                                <span class="ti-angle-left"></span>Trước
                            </button>
                            <div style="float:left">
                                <a [routerLink]="['../danh-sach/']" [queryParams]="i.queryParam" class="pagination-number" *ngFor="let i of listPage" [ngClass]="pagination.current_page === i.name ? 'pagination-number-disable' : ''">{{i.name}}</a>
                            </div>
                            <button class="pagination-page" (click)="gotoNextPage()" id="bt-show-advanced" [ngClass]="pagination.last_page === 0 || pagination.last_page === pagination.current_page ? 'pagination-page-disable' : ''">
                                Tiếp
                                <span class="ti-angle-right"></span>
                            </button>
                            <button class="pagination-page" (click)="gotoLastPage()" id="bt-show-advanced" [ngClass]="pagination.last_page === 0 || pagination.last_page === pagination.current_page ? 'pagination-page-disable' : ''">Cuối cùng
                                <span class="ti-angle-double-right"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>